<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facebook login clone</title>
</head>
<body>
  <table cellpadding = "20" bgcolor="aliceblue" border="0" cellspacing="0">
    <tr bgcolor="#4267B2">
      <th style="color: white; font-size: 30px;" > facebook </th>
      <th>
        <form action="" method="GET">
          <input type="text" name="usernam" id="" placeholder="username">
          <input type="password" name="password" id="" placeholder="password">
          <input type="submit" value="Login">
        </form>
      </th>
    </tr>
    <tr>
      <td>
        <table cellpadding ="10">
          <tr>
            <td colspan="2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, velit?
            </td
          </tr>
          <tr>
            <td align="center">
              <img src="./icons/home.png" alt="home-icon" width="50px">
            </td>
            <td>
              Lorem ipsum dolor sit amet.
            </td>
          </tr>
          <tr>
            <td align="center">
              <img src="./icons/settings.png" alt="settings-icon" width="50px">
            </td>
            <td>
              Lorem ipsum dolor sit amet.
            </td>
          </tr>
          <tr>            
            <td align="center">
              <img src="./icons/box.png" alt="box-icon" width="50px">
            </td>
            <td>
              Lorem ipsum dolor sit amet.
            </td>
          </tr>
        </table>
      </td>

      <td>
        <form action="">
          <table cellspacing="0" cellpadding="20">
            <tr>
              <th colspan="2" style="font-size: 25px"> Sign Up </th>
            </tr>
            <tr>
              <td>
                <input type="text" name="first-name" placeholder="first name">
              </td>
              <td>
                <input type="text" name="last-name" placeholder="last name">
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="text" size="70" name="email" placeholder="email id"> 
              </td>
            </tr>
            <tr>
                <td colspan="2">
                  <input type="text" size="70" name="password" placeholder="create password"> 
                </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="text" size="70" name="re-password" placeholder="retype password"> 
              </td>
            </tr>
            <tr>
              <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, atque? Lorem ipsum dolor sit amet,
                consectetur adipisicing.
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Signup" style="background-color: #5cb85c; border: none; padding: 5px 50px;">
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>

  </table>
</body>
</html>